.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 60px;
  }
  
  .baloon {
    position: absolute;
    left: 230px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 250px;
    top: 117px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 520px;
    top: 200px;
  }